
<form name="someForm" id="someForm" (ngSubmit)="onSubmit()" #someForm="ngForm">
  <button type="submit">save</button>
  <span *ngIf="someForm.dirty">need save</span>
  <div>
    <input type="datetime-local" name="input_date" [ngModel]="someModel.dt | date: 'yyyy-MM-ddTHH:mm'"
           (ngModelChange)="setDt($event)">
  </div>
  <div>
    <input type="number" name="input_number" [(ngModel)]="someModel.num">
  </div>
  <div>
    <input type="text" name="input_text" [(ngModel)]="someModel.str">
  </div>
</form>
